/* CSS Document */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
	background-color: #007374;
	height: 500px;
	max-height: 100px;
	font-size: 60px;
	font-weight: 900;
	color: black;
	text-align: center;
	font-family: 'Zeyada', cursive;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
}

form {
	text-align: center;
	font-size: 30px;
}

.p2 {
	font-size: 70px;
	font-weight: 900;
}

.btn {
	color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	margin-top: 50px;
}

.bodyhome {
	  background-image: url("../images/home_Beach.jpg")
}

.bodygrace {
	background-image: url("../images/GraceBayBeach.jpg")
}

.bodynew {
	background-image: url("../images/newsletter_Beach.jpg")
}

.bodyshoal {
	background-image: url("../images/ShoalBayEast.jpg")
}

.bodytrunk {
	background-image: url("../images/trunkBayBeach.jpg")
}

.cover {
	background-color: #ffffff99;
	border-radius: 10px;
	margin: 4%;
	padding: 0 0 10% 0;
}

.cover p {
	margin: 5%;
	padding: 2% 0;
	font-size: 30px;
	line-height: 300%;
}

.cover blockquote {
	font-weight: 900;
	font-size: 50px;
	text-align: center;
	font-family: 'Zeyada', cursive;
	text-shadow: 0 0 10px white;
}

nav {
	background-color: darkcyan;
	height: 500px;
	max-height: 200px;
	border-bottom: 10px solid #007374;
}

nav ul {
	text-align: center;
}

nav li:hover {
	box-shadow: 2px 2px 5px black;
}

nav ul li {
	background-color: #00D1D1;
	border: 4px solid #00A3A3;
	display: inline-block;
	margin: 5% 3% 0 3%;
	padding: 10px 0;
	text-align: center;
	border-radius: 10px;
}

nav ul li a {
	list-style-type: none;
	text-decoration: none;
	color: white;
/*	border: 5px solid black;*/
	padding: 10px 23px;
	margin: 2% 0;
	text-align: center;
}

footer {
	text-align: center;
	background-color: black;
	color: white;
	padding: 2% 0;
}
